<footer class="footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <section class="container">
    <section class="triptych">
      <div class="triptych-left">
        <h2 class="title is-size-5">{{ site.title | escape }}</h2>
        {%- if site.author -%}
        <h3 class="subtitle is-size-6 has-text-grey">
          Par {{ site.author | escape }}
        </h3>
        {%- endif -%}

        {%- if site.email -%}
        <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
        {%- endif -%}
      </div>
      <div class="triptych-right">
        <p style="max-width: 25rem;">{{- site.description | escape -}}</p>
      </div>
    </section>
  </section>
</footer>